<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>My Final Project</title> 
  <ul>
   
    <img src="http://codeforpalestine.herokuapp.com/static/images/image2-10.png"  width="600" height="80"> 
    <p>here is our fp </p>
   

<!-- TODO: add more links on the navigation bar here -->
  </ul>
</head>
<body>

	
 <form action="/signin" method="POST">
 <input type="submit" value="signin">
</form>

<form action="/signup" method="POST">
<input type="submit" value="signup">
</form>
	

</body>
</html>
