<!DOCTYPE html>
<html>
<h1> hello!</h1>
<img src="https://mrcooper.azureedge.net/assets/CheerBird-9883a308b24ad29a6795f15e4f8e9bf7401d73e93c88e436b6b0e1415eb5e332.png"  width="300" height="150">

<!-- <form action="/formExample" method="POST">
 username:<br>
 <input type="text" name="username"><br>
 password:<br>
 <input type="text" name="password">
 <input type="submit" value="GO!">
</form>
 -->
<form>
<input type="text" placeholder="USERNAME" class="form1"/>
<p></p>
<input type="password" placeholder="PASSWORD" class="form2" />
<p></p>
<input type="submit" value="GO!" class="submitbutton" />
</form>

</html>	